.headContainer{
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ADE3F0;
  color: #fff;
  /* box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1); */
}
.boxContainer{
  max-width: 500px;
  margin: 0 4rem 4rem 4rem;
  padding: 2rem 3rem 3rem;
}


